[user]
	name = usr
	email = 46005796+gombos@users.noreply.github.com
	signingkey = 70EB044C8DE4A594
[core]
	autocrlf = false
	filemode = false
	deltaBaseCacheLimit = 1G
[branch]
	autosetuprebase = always
[push]
	default = simple
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = false
