# Microdia TEMPer Temperature Sensor
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7401", MODE="0666"

# usb relay
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05df", MODE="0666"

# D-Link Corp. DUB-H7 7-port USB 2.0 hub
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2001", ATTRS{idProduct}=="f103", MODE="0666"

# 1209:a800 Generic sowbug.com WebLight
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="a800", MODE="0666"

# 16c0:05df Van Ooijen Technische Informatica HID device except mice, keyboards, and joysticks
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05df", MODE="0666"

# Disable USB sleep for StarTech.com USB 3.0 to Gigabit Ethernet Adapter, so that the device than can stay awake to wake up the computer with wake-on-lan
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b95", ATTRS{idProduct}=="1790" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/power/wakeup'"

# Disable USB sleep for Logitech, Inc. Unifying Receiver, so that the device than can stay awake to wake up the computer
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c52b" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/power/wakeup'"

# Detect WebLight removal
ACTION=="remove", ENV{ID_MODEL_FROM_DATABASE}=="sowbug.com WebLight", RUN+="/usr/bin/systemctl poweroff -i"

# One per disk reliable uuid
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", SYMLINK+="disk/by-id/disk_%E{ID_SERIAL}"

# clip
ATTRS{idVendor}=="0781", ATTRS{idProduct}=="74f0", ATTRS{serial}=="B4D656EA4D096840", MODE="0666", SYMLINK+="clip"

# Linux-USB Ethernet/RNDIS Gadget
ACTION=="add", DRIVERS=="usb", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a2", RUN+="ifconfig usb0 192.168.2.1"
