[Unit]
Before=sysinit.target
Before=network-pre.target
Before=systemd-remount-fs.service
Before=kmod-static-nodes.service
Before=systemd-modules-load.service
Before=systemd-udev-trigger.service
Before=systemd-sysctl.service
Before=local-fs-pre.target local-fs.target shutdown.target first-boot-complete.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/infra-init.sh

[Install]
WantedBy=paths.target
