# Set timeout to 10 sec
set timeout=10

default=rootovl

# partition label for ISO files
set l=linux_$h

# Find the partition fo ISO files
search --no-floppy --label $l --set=linuxroot

OVERRIDE="root=LABEL=$l rootflags=subvol=linux debug"

menuentry "Lubuntu" --id lubuntu {
  set isofile="/iso/lubuntu-20.04-desktop-amd64.iso"
  loopback loop ($linuxroot)/$isofile
  linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt noeject --
  initrd (loop)/casper/initrd
}

menuentry "Ubuntu" --id ubuntu {
  set isofile="/iso/ubuntu-20.04.2.0-desktop-amd64.iso"
  loopback loop ($linuxroot)/$isofile
  linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt noeject --
  initrd (loop)/casper/initrd
}

menuentry 'Manjaro (pacman)' --id arch {
  set isofile="/iso/manjaro-xfce-20.2.1-210103-linux59.iso"
  loopback loop ($linuxroot)/$isofile
  linux (loop)/boot/vmlinuz-x86_64 img_dev=$l img_loop=$isofile driver=free tz=utc lang=en_us keytable=us
  initrd (loop)/boot/intel_ucode.img (loop)/boot/amd_ucode.img (loop)/boot/initramfs-x86_64.img
}

menuentry "Fedora (rpm)" --id fedora {
  set isofile="/iso/Fedora-Workstation-Live-x86_64-33-1.2.iso"
  loopback loop ($linuxroot)/$isofile
  linux (loop)/isolinux/vmlinuz iso-scan/filename=$isofile root=live:CDLABEL=Fedora-WS-Live-33-1-2 rd.live.image
  initrd (loop)/isolinux/initrd.img
}

# Arch based, console + X11, has ssh preinstalled
# system does not require the original device to run after boot
menuentry "System Rescue CD" --id systemrescue {
  set iso="/iso/systemrescue-8.01-amd64.iso"
  loopback loop ($linuxroot)/$iso
  linux (loop)/sysresccd/boot/x86_64/vmlinuz img_label=$l img_loop=$iso archisobasedir=sysresccd copytoram setkmap=us nofirewall dodhcp rootpass=root
  initrd (loop)/sysresccd/boot/intel_ucode.img (loop)/sysresccd/boot/amd_ucode.img (loop)/sysresccd/boot/x86_64/sysresccd.img
}

menuentry 'Chain first host disk' --id chain {
  insmod chain
  set root=(hd0)
  chainloader +1
}

menuentry "Windows Live" --id windows {
  insmod fat
  insmod chain
  chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry 'Chain first EFI partition' --id host {
  # Chainload host EFI partition
  search --no-floppy --label EFI --set=root
  chainloader /EFI/BOOT/BOOTX64.EFI
}

